<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Evolent Test</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="container">
        <hr>
        <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New</button>
        <h2>All Users</h2>
        <span class="clearfix"></span>
        <hr>

        <div class="alert alert-info">
            Indicates a neutral informative change or action.
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat = "contact in contacts">
                <td>{{contact.FirstName}}</td>
                <td>{{contact.LastName}}</td>
                <td>{{contact.Email}}</td>
                <td>{{contact.PhoneNumber}}</td>
                <td>{{contact.Status}}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" ng-click="selectContact(contact)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" ng-click="selectContact(contact)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Contact Form</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-3">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="newContact.FirstName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="newContact.LastName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" ng-model="newContact.Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone Number</label>
                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-model="newContact.PhoneNumber">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Status</label>
                                <div class="col-sm-9">
                                <select class="form-control" ng-model="newContact.Status">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default" ng-click="saveUser()" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div id="myModalEdit" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit This Contact</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-3">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="clickedContact.FirstName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="clickedContact.LastName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" ng-model="clickedContact.Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone Number</label>
                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-model="clickedContact.PhoneNumber">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Status</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="clickedContact.Status">
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9" >
                                    <button type="submit" class="btn btn-default" ng-click="updateUser()" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="myModalDelete" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <strong style="color:red;">
                            You are going to delete {{clickedContact.FirstName}} {{clickedContact.LastName}}. All the information will be deleted.
                        </strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteContact()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>